{% extends 'base.html.twig' %}

{% block title %}Dressage | {{ parent() }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('el_welcome')}}">Acuueil</a></li>
    <li class="active">{{ page.breadcrump }}</li>
{% endblock %}

{% block leftContent %}
    <h1 class="text-center">{{page.titre}}</h1>
    <hr class="featurette-divider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for image in page.pageImages %}
            <div class="item {% if loop.index == 1 %}active{% endif %}">
                <img class="first-slide" src="{{ asset('uploads/'~image.url)}}" alt="First slide">
            </div>
            {% endfor %}
        </div>
    </div>
    {{ page.content | raw }}

    {% for video in page.pageVideos %}
        <hr class="featurette-divider">
        <h3 style="text-align: center;">{{ video.titre }}</h3>
        <hr class="featurette-divider">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.urlCode }}?wmode=transparent"></iframe>
        </div>
        <br/><br/>
    {% endfor %}
    <hr class="featurette-divider">
{% endblock %}

{% block ldjson %}
    <script type="application/ld+json">[{"@context":"http:\/\/schema.org","@type":"Organization","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr","sameAs":["https:\/\/www.facebook.com\/Élevage-du-moulin-de-Leuville-1671858406233284"]},{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr\/dressage"},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.elevagedumoulin.fr","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.elevagedumoulin.fr\/dressage","name":"Dressage canin"}}]}]
    </script>
{% endblock %}