{% extends 'base-admin.html.twig' %}
{% block jsTop %}<script src="{{ asset('js/jquery.min.js') }}"></script>{% endblock %}
{% block body %}
    <h1 class="page-h<eader">{% if state == 'edit' %}Modifier{% else %}Ajouter{% endif %} une image à l'annonce : {{ annonce.titre }}</h1>
    <br/><br/>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="userVille" for="userVille">Image souhaitée <small>(obligatoire)</small><span class="rose">*</span></label>
                <div class="clear"></div>
                <a data-toggle="modal" data-target="#add-picture" class="btn btn-success" id="photo">Charger l'image</a>
                <br/><br/>
                {% if state == 'edit' %}
                    <img src="{{ asset('uploads/annonces/'~imageUrl) }}" alt="Image du blog" id="annonceImage"/>
                {% else %}
                    <img src="https://fakeimg.pl/640x320/" alt="Image du blog" id="annonceImage"/>
                {% endif %}
                <input type="hidden" id="annonceImageValue" value="" name="annonceImage"/>
                <div class="clear"></div>
            </div>
            <div class="form-group">
                {{ form_row(form.principal) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_row(form.active) }}
            </div>
        </div>
    </div>

    <div class="clearfix"><br></div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">{% if state == 'new' %}Ajouter{% else %}Enregistrer{% endif %}</button>
            <a href="{{ path('admin_annonces') }}" class="btn btn-primary">Retour</a>
        </div>
    </div>

    {{ form_end(form) }}

    {% include 'Admin/annonces-images/uploader.html.twig'%}

{% endblock %}
