{% extends 'base.html.twig' %}

{% block title %}Avis des clients | {{ parent() }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('el_welcome')}}">Acuueil</a></li>
    <li class="active">{{ page.breadcrump }}</li>
{% endblock %}

{% block leftContent %}
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h1 class="page-title">{{ page.titre }}</h1>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2 class="page-title">Avec {{ countComments }} Avis vérifiés</h2>
        </div>
    </div>
    <button id="letAComm" class="btn btn-success width-100" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Cliquez ici pour nous laisser un commentaire sur nos services rendus
    </button>
    <br/>
    <br/>
    <div class="collapse" id="collapseExample">
        <div class="well">
            {{ form_start(form) }}
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_row(form.titre) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.ville) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.pseudo) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.comment) }}
                </div>

                <div class="form-group">
                    <label for="annonce_datePublished">Date de publication</label>
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form_widget(form.published) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                       </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="annonce_datePublished">Date de l'expérience</label>
                    <div class='input-group date' id='datetimepicker3'>
                        {{ form_widget(form.lived) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                   </span>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.subject) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.rating) }}
                </div>

                <div class="form-group">
                    <label for="ratingInsert">Votre note</label>
                    <div>
                        <div id="rater-step"></div>
                    </div>
                </div>

            </div>

            <div class="clearfix"><br></div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    <hr class="featurette-divider">
    {% for comment in allComments %}
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="glyphicon glyphicon-user img-user"></i>
                <br/>
                <br/>
                <b>{{ comment.pseudo | capitalize }}</b>
                <p>De : {{ comment.ville | capitalize }}</p>
            </div>
            <div class="col-md-8">
                <h3 class="no-margin-top">{{ comment.titre | capitalize }}</h3>
                <p>
                    <i class="label label-info">Publié le : {{ comment.published | date('d-m-Y') }}</i>
                    <i class="label label-success">Expérience du : {{ comment.lived | date('d-m-Y') }}</i>
                    <br/>
                    <i class="label label-primary">Concernant : {{ comment.subject }}</i>
                </p>
                <p>
                    {{ comment.rating | rating }}
                </p>
                <p>{{ comment.comment | capitalize }}</p>
            </div>
        </div>
        <hr class="featurette-divider">
    {% endfor %}

    <div class="row text-center">
    {{ knp_pagination_render(allComments, null, {}, {'style': 'pager'}) }}
    </div>
    <hr class="featurette-divider">

{% endblock %}

{% block ldjson %}
    <script type="application/ld+json">[{"@context":"http:\/\/schema.org","@type":"Organization","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr","sameAs":["https:\/\/www.facebook.com\/Élevage-du-moulin-de-Leuville-1671858406233284"]},{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr\/avis\/"},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.elevagedumoulin.fr","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.elevagedumoulin.fr\/avis\/","name":"Avis et commentaires"}}]}]
    </script>
{% endblock %}