{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- START THE FEATURETTES -->
<div class="marketing text-center">
    <h1>Annonces des portées de chiots</h1>
    <hr class="featurette-divider">
    {% for annonce in annonces %}
        <div class="row featurette" id="{{ annonce.titre }}">
            <div class="col-md-7{% if loop.index is divisible by 2 %} col-md-push-5{% endif %}">
                <h2 class="featurette-heading">{{ annonce.titre }}</h2>
                <small>Publié le : {{ annonce.datePublished | date('d-m-Y') }}</small>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        {% if annonce.dateNaissance != null %}
                            <span class="label label-success">Date de naissance : {{ annonce.dateNaissance | date('d-m-Y')}}</span>
                        {% endif %}
                        {% if annonce.dateDispo != null %}
                            <span class="label label-warning">Date de disponibilité : {{ annonce.dateNaissance | date('d-m-Y')}}</span>
                        {% endif %}
                    </div>
                </div>
                <p class="lead">
                    {{ annonce.content }}
                    {% include "Front/annonces/annonces-details.html.twig" with {"annonce": annonce} %}
                    <hr>
                    <a href="{{ path('el_contact') }}" class="btn btn-success"><i class="glyphicon glyphicon-envelope"></i> Acheter ou reserver</a>
                </p>
            </div>
            <div class="col-md-5{% if loop.index is divisible by 2 %} col-md-pull-7{% endif %}">
                {% include "Front/annonces/annonces-images.html.twig" with {"annonce": annonce} %}
                <br/><br/>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalImages-{{ loop.index }}">
                    <i class="glyphicon glyphicon-picture"></i> Agrandir les images
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modalImages-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalImages-{{ loop.index }}-Label">
                    <div class="modal-dialog modal-bigger" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalImages-{{ loop.index }}-Label">Images</h4>
                            </div>
                            <div class="modal-body">
                                {% include "Front/annonces/annonces-images-big.html.twig" with {"annonce": annonce} %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </div>
        <hr class="featurette-divider">
    {% endfor %}
    <div class="text-center center-block">
        {{ knp_pagination_render(annonces, null, {}, {'style': 'pager'}) }}
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}
