{% extends 'base.html.twig' %}

{% block title %}Nos races d'élevage | {{ parent() }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('el_welcome')}}">Accueil</a></li>
    <li class="active">{{ races.titre }}</li>
{% endblock %}

{% block body %}
    <!-- Example row of columns -->
    <h1 class="center-block text-center">{{ races.titre }}</h1>
    <hr class="featurette-divider">

    <div id="myCarousel" class="carousel bigger slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for image in races.raceGroupImages %}
            <div class="text-center item {% if loop.index == 1 %}active{% endif %}">
                <img class="center-block first-slide" src="{{ asset(image.url) }}" alt="First slide">
            </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr class="featurette-divider">
    <p class="col-md-12">
        {{ races.text | raw }}
    </p>
    <hr class="featurette-divider">
        <p><em><strong>Pour l'alimentation et recommandation pour nos chiots, veuillez consulter la page dédiée <a href={{ path('el_alimentations') }} title="alimentation-et-recommandation">ici</a></strong></em></p>
    <hr class="featurette-divider">

    <h2 class="text-center">Les vidéos de nos portées</h2>
    <hr class="featurette-divider">
    {% for video in page.pageVideos %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.urlCode }}?wmode=transparent"></iframe>
        </div>
        <br/><br/>
    {% endfor %}
    <hr class="featurette-divider">


{% endblock %}

{% block ldjson %}
<script type="application/ld+json">[{"@context":"http:\/\/schema.org","@type":"Organization","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr","sameAs":["https:\/\/www.facebook.com\/Élevage-du-moulin-de-Leuville-1671858406233284"]},{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr\/nos-races\/{{ races.url }}"},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.elevagedumoulin.fr","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.elevagedumoulin.fr\/nos-races\/{{ races.url }}","name":"{{ races.titre }}"}}]}]
</script>
{% endblock %}