{% extends 'base.html.twig' %}

{% block title %}Alimentation | {{ parent() }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('el_welcome')}}">Acuueil</a></li>
    <li class="active">{{ page.breadcrump }}</li>
{% endblock %}

{% block body %}
<div class="marketing text-center" id="alimentation">
    <h1>{{ page.titre }}</h1>
    <hr class="featurette-divider">
    {{ page.content | raw }}
    <hr class="featurette-divider">
</div>
{% endblock %}

{% block ldjson %}
    <script type="application/ld+json">[{"@context":"http:\/\/schema.org","@type":"Organization","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr","sameAs":["https:\/\/www.facebook.com\/Élevage-du-moulin-de-Leuville-1671858406233284"]},{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Élevage du moulin de Leuville","url":"https:\/\/www.elevagedumoulin.fr\/alimentation"},{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.elevagedumoulin.fr","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.elevagedumoulin.fr\/alimentation\/","name":"Alimentation"}}]}]
</script>
{% endblock %}
