<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Élevage du moulin{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ assets_versionning('app.css') }}">
        {% endblock %}
        <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="stylesheet" href="/css/template.css" media="screen" type="text/css" />
        <!--[if lte IE 7]><link rel="stylesheet" href="/css/template.ie7.css" media="screen" /><![endif]-->
        <!-- Created by Artisteer v4.2.0.60623 -->
        <meta name="google-site-verification" content="TQqAzJZ1OQw0wScXxi6nDtH96D7MDo_9ZMYQlefCLrM" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135457392-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-135457392-1');
        </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <div class="clear"></div>
            <header>
                {% block header %}
                    {{ render(controller('App\\Controller\\HeaderController::index',{'route':app.request.attributes.get('_route'), 'group': app.request.attributes.get('group'), 'type': app.request.attributes.get('type')})) }}
                {% endblock %}
            </header>
            <div class="container">
            <ul class="breadcrumb text-center">
                {% block breadcrumb %}
                    <li class="active">Accueil</li>
                {% endblock %}
            </ul>
            </div>
            {% block carousel %}{% endblock %}
            <div class="clear"></div>
            <div class="container">
                {% block body %}
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        {% block leftContent %}{% endblock %}
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {% block sidebar %}
                            {{ render(controller('App\\Controller\\SidebarController:index')) }}
                        {% endblock %}
                        <div class="clear"></div>
                    </div>
                {% endblock %}
            </div>

        {% block footer %}
            {{ render(controller('App\\Controller\\FooterController::index')) }}
        {% endblock %}
    {% block additionnalJavascripts %}{% endblock %}
    {% block javascripts %}
        <script async src="{{ assets_versionning('public/assets/js/app.js') }}"></script>
    {% endblock %}

    {% block ldjson %}{% endblock %}
    </body>
</html>
