{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1 class="page-h<eader">Annonces</h1>
    <hr>
    <div class="col-md-12">
        <a href="{{ path('admin_annonce_add') }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Ajouter une annonce</a>
    </div>
    <hr>

    <h2 class="sub-header">Liste des annonces</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Portee</th>
                <th>Publiée</th>
                <th>Naissance</th>
                <th>Disponible</th>
                <th>Race</th>
                <th>Vermifuge</th>
                <th>Vaccined</th>
                <th>Taouage</th>
                <th>NbTatouage</th>
                <th>Loof</th>
                <th>Certificat</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in allAnnonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.portee }}</td>
                    <td>{{ annonce.datePublished | date('d-m-Y')  }}</td>
                    <td>{{ annonce.dateNaissance | date('d-m-Y') }}</td>
                    <td>{{ annonce.dateDispo | date('d-m-Y') }}</td>
                    <td>{{ annonce.race }}</td>
                    <td>{{ annonce.vermifuge | booleanBadge }}</td>
                    <td>{{ annonce.vaccined | booleanBadge }}</td>
                    <td>{{ annonce.taouage | booleanBadge }}</td>
                    <td>{{ annonce.nbTatouage }}</td>
                    <td>{{ annonce.loof | booleanBadge }}</td>
                    <td>{{ annonce.certificat | booleanBadge }}</td>
                    <td>
                        {#<a href="{{ path('admin_prices_edit',{'id':prix.id }) }}" class="btn btn-success"><i class=""></i> Éditer</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(allAnnonces, null, {}, {'style': 'pager'}) }}
    </div>
{% endblock %}
