<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container container-nav">
            <div class="navbar-header">
                <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Elevage Du Moulin de Leuville</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{% if route == 'el_welcome' %} class="active"{% endif %}><a href="{{ path('el_welcome') }}">Accueil</a></li>
                    <li{% if route == 'el_dressage' %} class="active"{% endif %}><a href="{{ path('el_dressage') }}">Dressage</a></li>
                    <li class="dropdown{% if route == 'el_race_group' or route == 'el_alimentations' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos races <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li{% if route == 'el_race_group' and group == 'epagneule-breton-bicolore' %} class="active"{% endif %}><a href="{{ path('el_race_group',{'group':'epagneule-breton-bicolore'}) }}"><i class="glyphicon glyphicon-chevron-right"></i> Épagneuls bretons bicolores</a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if route == 'el_race_group' and group == 'epagneule-breton-tricolore' %} class="active"{% endif %}><a href="{{ path('el_race_group',{'group':'epagneule-breton-tricolore'}) }}"><i class="glyphicon glyphicon-chevron-right"></i> Épagneuls bretons tricolores</a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if route == 'el_race_group' and group == 'griffon-korthal' %} class="active"{% endif %}><a href="{{ path('el_race_group',{'group':'griffon-korthal'}) }}"><i class="glyphicon glyphicon-chevron-right"></i> Griffons Korthals</a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if route == 'el_race_group' and group == 'labrador-du-retriever' %} class="active"{% endif %}><a href="{{ path('el_race_group',{'group':'labrador-du-retriever'}) }}"><i class="glyphicon glyphicon-chevron-right"></i> Labradors</a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if route == 'el_alimentations' %} class="active"{% endif %}><a href="{{ path('el_alimentations') }}"><i class="glyphicon glyphicon-chevron-right"></i> Alimentaions et recommendations</a></li>
                        </ul>
                    </li>
                    <li{% if route == 'el_palmares' %} class="active"{% endif %}><a href="{{ path('el_palmares') }}">Palmarés</a></li>
                    <li{% if route == 'el_etalons' %} class="active"{% endif %}><a href="{{ path('el_etalons') }}">Ètalons</a></li>
                    <li class="dropdown{% if route == 'el_pensions' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pensions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li{% if route == 'el_pensions' and type == 'chien' %} class="active"{% endif %}><a href="{{ path('el_pensions',{'type':'chien'}) }}"><i class="glyphicon glyphicon-chevron-right"></i> Pension pour chiens</a></li>
                            <li role="separator" class="divider"></li>
                            <li{% if route == 'el_pensions' and type =='chat' %} class="active"{% endif %}><a href="{{ path('el_pensions',{'type':'chat'})}}"><i class="glyphicon glyphicon-chevron-right"></i> Pension pour chats</a></li>
                        </ul>
                    </li>
                    <li{% if route == 'el_emissions' %} class="active"{% endif %}><a href="{{ path('el_emissions') }}">Émissions TV</a></li>
                    <li{% if route == 'el_annonces' %} class="active"{% endif %}><a href="{{ path('el_annonces') }}">Annonces</a></li>
                    <li{% if route == 'el_prix' %} class="active"{% endif %}><a href="{{ path('el_prix') }}">Prix</a></li>
                    <li{% if route == 'el_avis' %} class="active"{% endif %}><a href="{{ path('el_avis') }}">Avis</a></li>
                    <li{% if route == 'el_contact' %} class="active"{% endif %}><a href="{{ path('el_contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="art-header text-center">
    <h1 class="text-hide">Accueil</h1>
    <div class="art-headline">
        <a href="/"><img class="logo" src="{{ asset('logo_pdsf.png') }}" alt="Élevage du moulin"></a>
    </div>
    <h2 class="art-slogan">Élevage de chiots, pension pour chiens et chats, pension canine et féline, édudcation et dréssage de chiens d'arrêt<br>28 - 29 - 32 - 45 - 75 - 77 - 78 - 91 - 92 - 93 - 94 - 95 - île de France</h2>
</div>

<hr>