{% extends 'base-admin.html.twig' %}

{% block body %}
<h1 class="page-h<eader">Modifier un commentaire</h1>
{{ form_start(form) }}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.titre) }}
        </div>
        <div class="form-group">
            {{ form_row(form.ville) }}
        </div>
        <div class="form-group">
            {{ form_row(form.pseudo) }}
        </div>
        <div class="form-group">
            {{ form_row(form.comment) }}
        </div>
        <div class="form-group">
            {{ form_row(form.published) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lived) }}
        </div>
        <div class="form-group">
            {{ form_row(form.subject) }}
        </div>
        <div class="form-group">
            {{ form_row(form.rating) }}
        </div>
        <div class="form-group">
            {{ form_row(form.active) }}
        </div>
    </div>

    <div class="clearfix"><br></div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{{ path('admin_commentaires') }}" class="btn btn-primary">Retour</a>
        </div>
    </div>

    {{ form_end(form) }}
</div>

{% endblock %}